body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f7f7f9;
  margin: 0;
  padding: 0;
}

.button {
  text-decoration: none;
  color: #fff;
}

h2 {
  font-weight: 700;
  color: #172b4d;
  font-size: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  line-height: 52px;
}

p {
  color: #344563;
  margin: 0;
  margin-bottom: 12px;
  padding: 2px 0;
}

.icons ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background: #fff;
  height: 48px;
}

.app-header p {
  margin: 0;
}

.welcome-line {
  padding: 0 24px;
  padding-top: 114px;
  padding-bottom: 136px;
  background-image: url("./header-shapes.svg");
  background-color: #fff;
  border-radius: 0 0 0 80px;
}

.about-myself {
  padding: 0 24px;
  padding-top: 114px;
  padding-bottom: 136px;
  background-color: #fff;
  border-radius: 0 80px 0 0;
}

.myself-list {
  list-style: none;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}

.language-list {
  list-style: none;
}

.contact-form {
  padding: 0 24px;
  padding-top: 114px;
  padding-bottom: 136px;
  background-image: url("./contact-form-shapes-mobile-2x.svg");
  background-color: #6070ff;
  border-radius: 80px 0 0 0;
  text-align: center;
}

.contact-form h2 {
  color: #fff;
}

.contact-form p {
  color: #fff;
}

#fname {
  border: 1px solid #cfd8dc;
}

.portfolio-cards {
  display: grid;
  margin: 114px 24px;
  gap: 88px;
}

.portfolio-cards .card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 16px;
  background-color: #fff;
}

.caption {
  display: flex;
  font-size: 13px;
  list-style: none;
  font-weight: 600;
  color: #7a869a;
  gap: 12px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.canopy {
  color: #344563;
}

.tags {
  display: flex;
  font-size: 13px;
  list-style: none;
  padding: 0;
  gap: 8px;
}

.tag {
  font-weight: 500;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.app-header a {
  text-decoration: none;
}

.lets-connect {
  color: #7f8cff;
}

.logo-placeholder {
  color: #6070ff;
  font-weight: 700;
}

.card .head {
  padding: 0;
}

.card .text {
  padding: 0;
}

.card .action {
  padding: 0;
}

.card h2 {
  margin-bottom: 0;
}

.see-project {
  color: #396df2;
  border-radius: 8px;
  background-color: #fff;
  border-color: #396df2;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  margin: 0;
  padding: 12px;
  width: 124px;
}
